.tales-row {
  position: relative;
  .scroll-right {
    position: absolute;
    top: 45%;
    right: 40px;
    height: 60px;
    width: 60px;
    border-right: 3px solid $c_primary;
    border-top: 3px solid $c_primary;
    transform: rotate(45deg);
    display: none;
    @media screen and (min-width: $break_medium) {
      display: block;
    }
  }
  .scroll-left {
    position: absolute;
    top: 45%;
    left: 40px;
    height: 60px;
    width: 60px;
    border-left: 3px solid $c_primary;
    border-top: 3px solid $c_primary;
    transform: rotate(-45deg);
    display: none;
    @media screen and (min-width: $break_medium) {
      display: block;
    }
  }
}

.tales-container {
  //border: 5px solid goldenrod;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: scroll;
  height: calc(100vh - #{$nav_bar_height + $nav_margin_bottom});
  @media screen and (min-width: $break_medium) {
    flex-direction: column;
  }
  .tale-panel {
    flex-grow: 1;
    display: flex;
    align-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid $c_secondary;
    @media screen and (min-width: $break_medium) {
      height: 50%;
      width: 50%;
    }
    position: relative;
    overflow-y: scroll;
    img {
      position: relative;
    }

    .tale-title {
      background-color: rgba(77, 84, 93, 0.8);
      max-width: 300px;
      text-align: center;
      padding: 20px 30px;
      margin: 0 auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

