$c_primary:#00b1b3;
$c_secondary:#4d545d;
$c_tertiary:#FFF;

$c_nav_bg:$c_secondary;

// Breakpoints
$break_small: 320px;
$break_medium: 768px;
$break_large: 1200px;

// Font-families
$font_GustanExtraBlack: GustanExtraBlack;
$font_GustanLight: GustanLight;
$font_GustanMedium: GustanMedium;
$font_GustanMediumD: GustanMediumD;
$font_GustanBold: GustanBold;

$nav_bar_height:52px;
$nav_border_thickness:1px;
$nav_margin_bottom:0;